<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="btn btn-outline-primary">
        <a href="http://localhost:3000/ones"> New</a>
         </button>

    <h1> New Page </h1>
    <form action="/one" = method="POST">
        Name:<input type="text" name="name">
        Date Number:<input type="number" name="dateNumber">
        Whose Date:<input type="text" name="whoseBoy">
        How Would You Rate: <input type="number" name="howWouldYouRate">
        What Spot On Pyramid?: <input type="number" name="pyramid">
        <input type="submit" value="Create Boy">
    </form>
</body>
</html>